.main-section1-col-8-subfloor {
  flex-direction: row;
}

.body-section-1{
  background-image: url('snow-1.jpg');
  min-height: 80vh;
  background-size: cover;
}


.potato-1{
  position: ;
}

.potato-2{
  bottom: 0;
  transform: translateY(25%);
  position: absolute;
  height: 200px;
}

.custom-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.special-margin{
  margin-top: 10%;
}


.section-3-hell{
  flex-direction: row;
}